<header class = 'header'>
  <div class='title'>
    <%= link_to 'Body make-up', root_path, class: "header-title" %>
    <div class='menu'>
      <div class='nav'>
        <ul class='lists-right'>
          <li><%= link_to 'ログイン', new_user_session_path, class: "user-link" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "user-link" %></li>
        </ul>
      </div> 
    </div>
  </div>
</header>