/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

/* グラフ */

.report-body {
  text-align: center;
  width: 400px;
}

/* トップページ */
.top-main {
  .top-wrap { 
    width: 80%;
  }
}