/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.report-contents {
  .report-title {
    .index-unit {
      font-size: 24px;
    }
  }
}

/* 表 */
.report-table {
  .detail-unit {
    padding: 10px;
    font-size: 14px;
  }
  .detail-value {
    padding: 10px;
    font-size: 14px;
  }
}

/* グラフ */
.report-body{
  width: 700px;
}

/* index image */
.img-content {
  .reports-img {
    height: 150px;
    width: 150px;
  }
}

/* show image */
.report-img {
  height: 300px;
  width: 300px;
}

/* マイページ */
.profile_table {
  padding: 138px 0;
}

/* トップページ */
.top-main {
  margin: 60px 0;
  .top-wrap {
    .top-contents {
      margin: 80px 0 150px;
      .expalanation-title {
        font-size: 64px;
      }
      .expalanation-sub-title {
        font-size: 22px;
      }
    }
    .form-contets {
      margin: 60px 0 20px;
    }
    .form-image {
      .form-new {
        width: 40%;
        height: 40%;
      }
    }
    .inside-contents {
      margin: 60px 0 20px;
    }
    .record-image {
      .table-sample {
        width: 80%;
        height: 80%;
      }
      .graph-sample {
        width: 60%;
        height: 60%;
      }
    }
    .list-question{
      .top-lists {
        font-size: 20px;
        margin-top: 50px;
      }  
    }
    .intro-contents {
      margin-top: 50px;
    }
  }
}
/* トップページ　テキスト */
.expalanation-text {
  font-size: 32px;
}
.expalanation-sub-text {
  font-size: 18px;
}