$cWhite: white;

.footer{
  display: flex;
  background-color: #555;
  padding: 15px 16px;
  height: 50px;
  width: 100vw;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.footer-title{
  color: $cWhite;
  text-decoration: none;
}