$cBlack: #555;

* {
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  padding: 2vh 8vw;
  width: 100vw;
  height: 100px;
  border-bottom: 1px solid #ccc;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-title{
  font-size: 18px;
  padding: 10px;
  color: $cBlack;
  text-decoration: none;
}

.menu{
  display: flex;
}

.lists-left{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1vh 20px;
}

.lists-right {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.user-link {
  text-decoration: none;
  margin-right: 2vw;
  color: $cBlack;
  padding: 10px;
}