@charset "UTF-8";
.report-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
  min-width: 100vh;
}

.report-contents .report-title {
  padding: 20px;
}

.report-contents .report-title .index-unit {
  font-size: 24px;
  font-weight: bold;
  color: #555;
}

.report-contents .report-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* 表 */
.report-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.report-table .detail-report {
  width: 300px;
  height: 50px;
}

.report-table .detail-report .detail-unit {
  background-color: #f3f1ef;
  border: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

.report-table .detail-report .detail-value {
  padding: 14px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* グラフ */
.report-body {
  margin: 30px;
  text-align: center;
}

/* 編集　リンク */
.link-text {
  text-decoration: none;
  font-size: 24px;
  color: #555;
}

/* index image */
.reports-img {
  height: 200px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #fff;
}

/* show image */
.report-img {
  height: 300px;
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* マイページ */
.profile_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 175px 0;
  min-width: 100vh;
}

.nickname_unit {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  padding-bottom: 10px;
}

/* トップページ */
.top-main {
  min-width: 100vh;
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-main .top-wrap {
  width: 60%;
}

.top-main .top-wrap .top-contents {
  text-align: center;
  margin: 80px 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-main .top-wrap .top-contents .expalanation-title {
  font-size: 64px;
}

.top-main .top-wrap .top-contents .expalanation-sub-title {
  font-size: 22px;
}

.top-main .top-wrap .form-contents {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-main .top-wrap .inside-contents {
  text-align: center;
  margin-top: 150px;
}

.top-main .top-wrap .form-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.top-main .top-wrap .form-image .form_new {
  width: 400px;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

.top-main .top-wrap .form-image .form_report {
  width: 600px;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

.top-main .top-wrap .list-question {
  text-align: center;
  margin-top: 150px;
}

.top-main .top-wrap .list-question .top-lists {
  list-style: circle;
  display: inline-block;
  text-align: left;
  font-size: 20px;
}

.top-main .top-wrap .intro-contents {
  text-align: center;
  margin-top: 50px;
}

/* トップページ　テキスト */
.expalanation-text {
  font-size: 32px;
}

.expalanation-sub-text {
  font-size: 18px;
  color: #555;
}
/*# sourceMappingURL=index.html.css.map */