$cBlack: #555;

/* 全体 index show */

.report-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  min-width: 100vh;
}

/* 全体 index show */

/* 記録 */

.report-title {
  padding: 20px;
}

.index-unit {
  font-size: 24px;
  font-weight: bold;
  color: $cBlack;
}

/* 記録 */

/* 目標体重 */

.report-goal{
  display: flex;
  justify-content: center;
  margin: 20px 0 30px;
}

.goal-text {
  font-size: 20px;
  color: $cBlack;
}

.goal-value{
  font-weight: bold;
  font-size: 20px;
  padding: 0 20px;
}

.goal-unit{
  font-size: 20px;
}

/* 目標体重 */

/* グラフ */

.report-body{
  margin: 30px;
  text-align: center;
}

/* グラフ */

/* 表　全体 */

.report-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
}

/* 表　全体 */

/* 編集　リンク */

.link-text {
  text-decoration: none;
  font-size: 24px;
  color: $cBlack;
}

/* 編集　リンク */

/* 表　index show user.show */

.report-table {
  display: flex;
  justify-content: center;
  margin: 0;
}

.detail-report {
  width: 300px;
  height: 50px;
}

.detail-unit {
  background-color: #f3f1ef;
  border: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

.detail-value {
  padding: 14px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* 表　index show user.show */

/* index image */

.reports-img {
  height: 200px;
  width: 200px;
  background-color: #dedede;
  object-fit: contain;
  display: flex;
  justify-content: center;
  border: 2px solid #fff;
}

/* index image */

/* show image */

.report-img {
  height: 300px;
  width: 400px;
  background-color: #dedede;
  object-fit: contain;
  margin: 20px;
  display: flex;
  justify-content: center;
}

/* show image */