$cBlack: #555;


.report-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  min-width: 100vw;
  .report-title {
    padding: 20px;
    .index-unit {
      font-size: 24px;
      font-weight: bold;
      color: $cBlack;
    }
  }
  .report-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* 表 */

.report-table {
  display: flex;
  justify-content: center;
  margin: 0;
  .detail-report {
    width: 300px;
    height: 50px;
    .detail-unit {
      background-color: #f3f1ef;
      border: 1px solid #ccc;
      font-size: 14px;
      text-align: center;
      padding: 5px;
    }
    .detail-value {
      padding: 14px;
      border: 1px solid #ccc;
      font-size: 14px;
    }
  }
}

/* グラフ */

.report-body{
  margin: 30px;
  text-align: center;
}

/* 編集　リンク */

.link-text {
  text-decoration: none;
  font-size: 24px;
  color: $cBlack;
}

/* index image */

.reports-img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  border: 2px solid #fff;
}

/* show image */

.report-img {
  height: 300px;
  width: 400px;
  object-fit: contain;
  margin: 20px;
  display: flex;
  justify-content: center;
}

/* マイページ */

.profile_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 174px 0;
  min-width: 100vw;
}

.nickname_unit {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  padding-bottom: 10px;
}

/* トップページ */

.top-main {
  min-width: 100vw;
  margin: 60px 0;
  display: flex;
  justify-content: center;
  .top-wrap {
    width: 60%;
    .top-contents {
      text-align: center;
      margin: 80px 0 150px;
      display: flex;
      flex-direction: column;
      .expalanation-title {
        font-size: 64px;
      }
      .expalanation-sub-title {
        font-size: 22px;
      }
    }
    .form-contents {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    .inside-contents {
      text-align: center;
      margin-top: 150px;
    }
    .form-image {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      .form_new {
        width: 400px;
        height: 400px;
        object-fit: contain;
      }
      .form_report{
        width: 600px;
        height: 400px;
        object-fit: contain;
      }
    }
    .list-question{
      text-align: center;
      margin-top: 150px;
      .top-lists {
        list-style: circle;
        display: inline-block;
        text-align: left;
        font-size: 20px;
      }  
    }
    .intro-contents {
      text-align: center;
      margin-top: 50px;
    }
  }
}

/* トップページ　テキスト */
.expalanation-text {
  font-size: 32px;
}
.expalanation-sub-text{
  font-size: 18px;
  color: $cBlack;
}