@charset "UTF-8";
/* 全体 devise report new dit */
.form-main {
  width: 100%;
  min-width: 100vh;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-wrap {
  width: 50%;
  background-color: #f3f1ef;
  margin: 100px 0;
  padding-bottom: 70px;
  border-radius: 50px;
}

/* 全体 devise report new dit */
/* タイトル devise report */
.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  font-weight: bold;
}

/* タイトル devise report */
/* 登録日 report */
.date-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calender-select {
  margin-left: 10px;
}

/* 登録日 report */
/* フォーム devise report */
.input-report {
  width: 180px;
  margin-top: 5px;
  height: 48px;
  padding: 10px 14px 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.form-group {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 13px;
  font-weight: bold;
}

/* フォーム devise report */
/* フォーム report new */
.form-report {
  padding-bottom: 20px;
}

.form-report-group {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

/* フォーム report new */
/* 必須　devise report */
.indispensable {
  margin-left: 8px;
  padding: 3px;
  color: #d33833;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
}

/* 必須　devise report */
/* 任意　devise report */
.form-any {
  margin-left: 8px;
  padding: 3px;
  color: #888;
  font-size: 14px;
  border-radius: 2px;
}

/* 任意　devise report */
/* カテゴリー　devise */
.select-box {
  height: 30px;
  width: 200px;
  background-color: #fff;
  padding-left: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #555;
}

.select-box:focus {
  outline: none;
}

/* カテゴリー　devise */
/* text系　devise report new edit */
.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 14px 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

/* text系　devise report new edit */
/* サブ文字　devise report new edit */
.info-text {
  color: #888;
  font-size: 13px;
  margin-top: 3px;
}

/* サブ文字　devise report new edit */
/* 新規登録 new */
.input-profile {
  width: 100%;
  padding: 16px 14px 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
}

/* 新規登録 new */
/* 登録ボタン devise new */
.register-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* 登録ボタン devise new */
/* 茶色ボタン */
.brown-btn {
  width: 70%;
  background: #A57C55;
  border: 1px solid #A57C55;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

/* 茶色ボタン */
/* 登録ボタン report new edit */
.create-btn-contents {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* 登録ボタン report new edit */
/* 編集遷移ページボタン */
.edit-btn-contents {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-brown-btn {
  width: 40%;
  background: #A57C55;
  border: 1px solid #A57C55;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

/* 編集遷移ページボタン */
/* 戻るボタン report new edit */
.back-btn {
  width: 70%;
  background: #888;
  border: 1px solid #888;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

/* 戻るボタン report new edit */
/* 画像 */
.img-upload {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.weight-bold-text {
  width: 100%;
  height: 20%;
  font-size: 14px;
}

.click-upload {
  padding: 30px 0;
  font-size: 14px;
}

/* /画像 */
/*# sourceMappingURL=new.css.map */