@charset "UTF-8";
/* 共通 */
.indispensable {
  margin-left: 8px;
  padding: 3px;
  color: #d33833;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
}

.form-any {
  margin-left: 8px;
  padding: 3px;
  color: #888;
  font-size: 14px;
  border-radius: 2px;
}

.select-box {
  height: 30px;
  width: 200px;
  background-color: #fff;
  padding-left: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #555;
}

.select-box:focus {
  outline: none;
}

.form-main {
  width: 100%;
  min-width: 100vh;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-wrap {
  width: 50%;
  background-color: #f3f1ef;
  margin: 100px 0;
  padding-bottom: 70px;
  border-radius: 50px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  font-weight: bold;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 13px;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 14px 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 13px;
  margin-top: 3px;
}

/* 共通 */
/* report */
.date-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calender-select {
  margin-left: 10px;
}

.form-report {
  padding-bottom: 20px;
}

.form-report-group {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.input-report {
  width: 180px;
  margin-top: 5px;
  height: 48px;
  padding: 10px 14px 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

/* report */
.input-profile {
  width: 100%;
  padding: 16px 14px 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sell-btn-contents {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-brown-btn {
  width: 70%;
  background: #A57C55;
  border: 1px solid #A57C55;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
}

.back-btn {
  width: 70%;
  background: #888;
  border: 1px solid #888;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 15px;
  text-decoration: none;
  padding: 0px 28%;
}

input[type=text],
input[type=email],
input[type=password],
textarea:focus {
  background-color: #fff;
  outline: none;
}

/* 画像 */
.img-upload {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.weight-bold-text {
  width: 100%;
  height: 20%;
  font-size: 14px;
}

.click-upload {
  padding: 30px 0;
  font-size: 14px;
}

/* /画像 */
/*# sourceMappingURL=new.css.map */